<body>
  <header>
    <h2>Admin</h2>
  </header>

  <section class="adminTable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <!-- repeat each facility in facilitiesList array into td -->
        <tr ng-repeat="facility in admin.facilitiesList">
          <td>{{facility.name}}</td>
          <td>{{facility.city}}</td>
          <td>{{facility.status}}</td>
        </tr>
      </tbody>
    </table>
  </section>


</body>
