<section>
<div class="modal-header">
  <h2>Aquatic Levels Information</h2>
</div>

<div class="modal-body">
  <p>
    <strong>Level One: </strong> can facilitate any aquatic stretching, excercises, walking,
    or floating excercises and below.
  </p>

  <p>
    <strong>Level Two: </strong> can facilitate novice swimming, walking, running,
    excercises and below.
    <br>
    Average aquatics level
  </p>

  <p>
    <strong>Level Three: </strong> can facilitate intermediate swimming, running excercises and below.
    <br>
    Avid aquatics level
  </p>

  <p>
    <strong>Level Four: </strong> can facilitate advanced swimming, running, excercises and below.
    <br>
    Profession athlete, or tri-athlete level
  </p>
</div>

<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="levels.cancel()">OK</button>
</div>
</section>
