<h2>Facility details</h2>

<form class=""  method="post">
  <label>All Slots<input type="radio" checked ng-model="facilitydetails.view" value="allslots" /></label>
  <label>Availability<input type="radio" ng-model="facilitydetails.view" value="availability" /></label>
  <label>Facility Info<input type="radio" ng-model="facilitydetails.view" value="facility"/></label>
  <label>Contact Info<input type="radio" ng-model="facilitydetails.view" value="contact"/></label>
</form>

<div id="slotsAvailable" ng-show="facilitydetails.view == 'allslots'">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h4>Available Slots</h4>
        </div>
    </div>
    <table class="table table-striped" id="table_id">
        <thead>
            <tr class="active">
                <th>Date</th>
                <th>start time</th>
                <th>end time</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat=" obj in facilitydetails.facilityTimeSlotList">
                <td>{{obj.date}}</td>
                <td>{{obj.start_time}}</td>
                <td>{{obj.end_time}}</td>
                <td><div ng-switch="obj.approved">
                  <div ng-switch-when="true"><button class="btn btn-xs btn-info" ng-click="facilitydetails.openModal(obj.user_id)" type="submit">Booked</button></div>
                  <div ng-switch-default>{{obj.approved}}</div>
                </div></td>
                <td><button class="btn btn-xs btn-info" ng-click="facilitydetails.deleteTimeSlot(obj.facility_availability_id)" type="submit">Delete</button></td>
            </tr>
        </tBody>
    </table>
</div>



<div id="availability" ng-show="facilitydetails.view == 'availability'">
    <form ng-submit="facilitydetails.setTimeSlots(facilitydetails.formdata)">
        <div class="calendar">
            <datepicker date-format="EEEE MM/dd/yyyy">
                <input ng-change="facilitydetails.getTimeSlots(facilitydetails.formdata.date)" ng-model="facilitydetails.formdata.date" type="text" class="angular-datepicker-input fa font-fontawesome font-light radius3" placeholder="&#xf073; Choose a date" />
            </datepicker>
        </div>

        <div class="form-group row">
            <label class="control-label col-xs-offset-1 col-xs-2">From:</label>
            <div class="col-xs-8">
                <select class="form-control" ng-model="facilitydetails.formdata.startTime" ng-options="x for x in facilitydetails.timeSelectionArray"></select>
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-xs-offset-1 col-xs-2">To:</label>
            <div class="col-xs-8">
                <select class="form-control" ng-model="facilitydetails.formdata.endTime" ng-options="x for x in facilitydetails.timeSelectionArray"></select>
            </div>
        </div>

        <div class="form-group row ">
            <div class="col-sm-4 col-sm-offset-3">
                <button type="submit" class="btn  btn-sm btn-primary">Add Slots</button>
            </div>

        </div>

    </form>


    <div id="slotsAvailable">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <h4>Available Slots</h4>
            </div>
        </div>
        <table class="table table-striped" id="table_id">
            <thead>
                <tr class="active">
                    <th>start time</th>
                    <th>end time</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat=" obj in facilitydetails.timeSlotList">
                    <td>{{obj.start_time}}</td>
                    <td>{{obj.end_time}}</td>
                    <td><div ng-switch="obj.approved">
                      <div ng-switch-when="true"><button class="btn btn-xs btn-info" ng-click="facilitydetails.openModal(obj.user_id)" type="submit">Booked</button></div>
                      <div ng-switch-default>{{obj.approved}}</div>
                    </div></td>
                    <td><button class="btn btn-xs btn-info" ng-click="facilitydetails.deleteTimeSlot(obj.facility_availability_id)" type="submit">Delete</button></td>
                </tr>
            </tBody>
        </table>
    </div>
  </div>


    <!-- FACILITY INFO -->
    <div class="userInfo" ng-show="facilitydetails.view == 'facility'">
      <!-- Facility Name -->
      <form class=""  method="post">
        <label for="facilityName">Name of Facility:</label><br>
        <p ng-show="!facilitydetails.editToggle">{{facilitydetails.facilityInfo.name}}</p>
        <input type="text" id="facility" name="facility" ng-model="facilitydetails.facilityInfo.name" value="{{facilitydetails.facilityInfo.name}}" ng-show="facilitydetails.editToggle"/>
      </form>

      <!-- address -->
      <form class=""  >
        <label for="address">Street Address:</label><br>
        <p ng-show="!facilitydetails.editToggle">{{facilitydetails.facilityInfo.street_address}}</p>
        <input type="text" id="address" name="address" ng-model="facilitydetails.facilityInfo.street_address" value="{{facilitydetails.facilityInfo.street_address}}" ng-show="facilitydetails.editToggle"/>
      </form>
      <!-- city -->
      <form class=""  >
        <label for="city">City:</label><br>
        <p ng-show="!facilitydetails.editToggle">{{facilitydetails.facilityInfo.city}}</p>
        <input type="text" id="city" name="city" ng-model="facilitydetails.facilityInfo.city" value="{{facilitydetails.facilityInfo.city}}" ng-show="facilitydetails.editToggle"/>
      </form>
      <!-- state -->
      <form class=""  >
        <label for="state">State:</label><br>
        <p ng-show="!facilitydetails.editToggle">{{facilitydetails.facilityInfo.state}}</p>
        <select name="state" ng-model="facilitydetails.facilityInfo.state" value="{{facilitydetails.facilityInfo.state}}" ng-show="facilitydetails.editToggle">
      <option value="AL">Alabama</option>
      <option value="AK">Alaska</option>
      <option value="AZ">Arizona</option>
      <option value="AR">Arkansas</option>
      <option value="CA">California</option>
      <option value="CO">Colorado</option>
      <option value="CT">Connecticut</option>
      <option value="DE">Delaware</option>
      <option value="DC">District of Columbia</option>
      <option value="FL">Florida</option>
      <option value="GA">Georgia</option>
      <option value="HI">Hawaii</option>
      <option value="ID">Idaho</option>
      <option value="IL">Illinois</option>
      <option value="IN">Indiana</option>
      <option value="IA">Iowa</option>
      <option value="KS">Kansas</option>
      <option value="KY">Kentucky</option>
      <option value="LA">Louisiana</option>
      <option value="ME">Maine</option>
      <option value="MD">Maryland</option>
      <option value="MA">Massachusetts</option>
      <option value="MI">Michigan</option>
      <option value="MN">Minnesota</option>
      <option value="MS">Mississippi</option>
      <option value="MO">Missouri</option>
      <option value="MT">Montana</option>
      <option value="NE">Nebraska</option>
      <option value="NV">Nevada</option>
      <option value="NH">New Hampshire</option>
      <option value="NJ">New Jersey</option>
      <option value="NM">New Mexico</option>
      <option value="NY">New York</option>
      <option value="NC">North Carolina</option>
      <option value="ND">North Dakota</option>
      <option value="OH">Ohio</option>
      <option value="OK">Oklahoma</option>
      <option value="OR">Oregon</option>
      <option value="PA">Pennsylvania</option>
      <option value="RI">Rhode Island</option>
      <option value="SC">South Carolina</option>
      <option value="SD">South Dakota</option>
      <option value="TN">Tennessee</option>
      <option value="TX">Texas</option>
      <option value="UT">Utah</option>
      <option value="VT">Vermont</option>
      <option value="VA">Virginia</option>
      <option value="WA">Washington</option>
      <option value="WV">West Virginia</option>
      <option value="WI">Wisconsin</option>
      <option value="WY">Wyoming</option>
      </select>
      </form>
      <!-- zipcode -->
      <form class=""  >
        <label for="zipcode">Zipcode:</label><br>
        <p ng-show="!facilitydetails.editToggle">{{facilitydetails.facilityInfo.zip}}</p>
        <input type="text" id="zip" name="zip" ng-model="facilitydetails.facilityInfo.zip" value="{{facilitydetails.facilityInfo.zip}}" ng-show="facilitydetails.editToggle"/>
      </form>
      <!-- cost -->
      <form class="">
        <label>Does your facility charge for access?<input type="checkbox" ng-model="facilitydetails.facilityInfo.cost" value="{{facilitydetails.facilityInfo.cost}}"/></label>
      </form>
      <!-- user level -->
      <form class="">
        <label for="level">what level of user ability can you accomodate?</label>
        <p ng-show="!facilitydetails.editToggle">{{facilitydetails.facilityInfo.level}}</p>
        <input type="text" id="level" name="level" ng-model="facilitydetails.facilityInfo.level" value="{{facilitydetails.facilityInfo.level}}" ng-show="facilitydetails.editToggle"/>
      </form>
      <!-- facility description -->
      <form class="">
        <label for="description">Tell us a bit about your facility</label><br>
        <p ng-show="!facilitydetails.editToggle">{{facilitydetails.facilityInfo.description}}</p>
        <textarea name="description" rows="8" cols="80" ng-model="facilitydetails.facilityInfo.description" value="{{facilitydetails.facilityInfo.description}}" ng-show="facilitydetails.editToggle"></textarea>
      </form>
      <!-- image url -->
      <form class="">
        <label for="image">Link to an image of your facility</label><br>
        <img src="{{facilitydetails.facilityInfo.image_url}}" alt="" ng-show="!facilitydetails.editToggle">
        <input type="text" id="image" name="image" ng-model="facilitydetails.facilityInfo.image_url" value="{{facilitydetails.facilityInfo.image_url}}" ng-show="facilitydetails.editToggle"/>
      </form>

        <button class="btn btn-primary" ng-click="facilitydetails.edit()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button type="submit" class="btn btn-primary" ng-click="facilitydetails.edit(); facilitydetails.updateUser(facilitydetails.facilityInfo)" ng-show="facilitydetails.editToggle">Save</button>
    </div>



    <!-- FACILITY CONTACT INFO -->
    <div class="" ng-show="facilitydetails.view == 'contact'">
      <!-- email -->
      <form class=""  >
        <label for="email">Email:</label><br>
        <p ng-show="!facilitydetails.editToggle">{{facilitydetails.contactInfo.username}}</p>
        <input type="text" id="username" name="username" ng-model="facilitydetails.contactInfo.username" value="{{facilitydetails.contactInfo.username}}" ng-show="facilitydetails.editToggle"/>
      </form>
      <!-- first name  -->
      <form class=""  >
        <label for="firstName">First Name:</label><br>
        <p ng-show="!facilitydetails.editToggle">{{facilitydetails.contactInfo.first_name}}</p>
        <input type="text" id="firstName" name="firstName" ng-model="facilitydetails.contactInfo.first_name" value="{{facilitydetails.contactInfo.first_name}}" ng-show="facilitydetails.editToggle"/>
      </form>
      <!-- lastName -->
      <form class=""  >
        <label for="lastName">Last Name:</label><br>
        <p ng-show="!facilitydetails.editToggle">{{facilitydetails.contactInfo.last_name}}</p>
        <input type="text" id="lastName" name="lastName" ng-model="facilitydetails.contactInfo.last_name" value="{{facilitydetails.contactInfo.last_name}}" ng-show="facilitydetails.editToggle"/>
      </form>
      <form class="">
        <label for="phone">Phone Number:</label><br>
        <p ng-show="!facilitydetails.editToggle">{{facilitydetails.contactInfo.phone_number}}</p>
        <input type="tel" id="phone" name="phone" ng-model="facilitydetails.contactInfo.phone_number" value="{{facilitydetails.contactInfo.phone_number}}" ng-show="facilitydetails.editToggle"/><br ng-if="facilitydetails.editToggle"><br ng-if="facilitydetails.editToggle">
      </form>
      <button class="btn btn-primary" ng-click="facilitydetails.edit()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      <button type="submit" class="btn btn-primary" ng-click="facilitydetails.edit(); facilitydetails.updateUser(facilitydetails.contactInfo)" ng-show="facilitydetails.editToggle">Save</button>
    </div>
