<!-- modal that shows up on user home page.
+grab all data on facilities from database
+user clicks on link of facility name followed by city
+on click on link, modal pops up with
facility name, street address, city, zipcode, description, level, cost, image  -->
<section>
  <div class="modal-header">
    <h2>{{list.facilityInfo.name}} - {{list.facilityInfo.city}}</h2>
  </div>

  <div class="modal-body">
    <div id="availability" >


    <div class="calendar">
       <!-- datepicker-show attribute, if false, datepicker is hidden, if true, datepicker is shown -->
       <!-- date-format is the format the date will appear in DOM EEEE=day -->
      <datepicker date-format="EEEE MM/dd/yyyy" datepicker-show="{{ctrl.visibility}}">
        <!-- ng-change shows the facilites with the avail time depending on the date you picked.Sub for ng-click -->
        <input ng-change="list.getSearchResults(facilities.date)" ng-model="list.date" type="text"
         class="angular-datepicker-input fa font-fontawesome font-light radius3"  placeholder="&#xf073; Choose a date"/>
      </datepicker>
      You chose: {{facilities.date}}
    </div>
    <!-- {{avail.date}} -->
    <!-- will display time of selected available date -->
    <ul id="timeSlots" ng-repeat="avail in facilities.results">
    <li><button  ng-click="facilities.postFacilityAvail(avail)" class="btn btn-danger"><time>{{avail.start_time}}</time></button></li>
    </ul>

    </div>

  <section class="facilityInfo">
  <ul>
    <li>Location: {{list.facilityInfo.street_address}} {{list.facilityInfo.city}}, {{list.facilityInfo.state}} {{list.facilityInfo.zip}}</li>
    <li>Description: {{list.facilityInfo.description}}</li>
    <li>Accessibility: {{list.facilityInfo.handicap_accessibility}}</li>
    <li>Level: {{list.facilityInfo.level}}</li>
    <li>Cost: {{list.facilityInfo.cost}}</li>
    <li>Status: {{list.facilityInfo.approved}}</li>
    <li>Accessibility Id: {{list.facilityInfo.accessibility_id}}</li>
    <li> <img ng-src="{{list.facilityInfo.image_url}}" alt=""/></li>
  </ul>
    </section>
  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="list.ok()">OK</button>
    <button class="btn btn-primary" type="button" ng-click="list.cancel()">Cancel</button>
  </div>
</section>
