<!-- modal that shows up on user home page.
+grab all data on facilities from database
+user clicks on link of facility name followed by city
+on click on link, modal pops up with
facility name, street address, city, zipcode, description, level, cost, image  -->
<section>
  <div class="modal-header">
    <h2>{{list.facilityInfo.name}} - {{list.facilityInfo.city}}</h2>
  </div>

  <div class="modal-body">
    <div id="availability" >


    <div class="calendar">
       <!-- datepicker-show attribute, if false, datepicker is hidden, if true, datepicker is shown -->
       <!-- date-format is the format the date will appear in DOM EEEE=day -->
      <datepicker date-format="EEEE MM/dd/yyyy" datepicker-show="{{ctrl.visibility}}">
        <!-- ng-change shows the facilites with the avail time depending on the date you picked.Sub for ng-click -->
        <input ng-change="list.getSearchResults(list.date, list.facilityInfo.id)" ng-model="list.date" type="text"
         class="angular-datepicker-input fa font-fontawesome font-light radius3"  placeholder="&#xf073; Choose a date"/>
      </datepicker>
      You chose: {{list.date}}
    </div>
    <!-- {{avail.date}} -->
    <!-- will display time of selected available date -->
    <ul id="timeSlots">
      <li ng-repeat="slot in list.results">
          <div ng-switch="slot.approved">
            <button ng-switch-when="true" style="text-decoration: line-through; color: black; background-color: grey; border: grey" class="btn btn-danger" ng-click="list.alreadyBooked(slot)"><time>{{slot.start_time}}</time></button>
            <button ng-switch-default ng-click="list.postFacilityAvail(slot)" class="btn btn-success"><time>{{slot.start_time}}</time></button>
          </div>
        </li>
    </ul>

    </div>

  <section class="facilityInfo">
  <ul>
    <li>Location: {{list.facilityInfo.street_address}} {{list.facilityInfo.city}}, {{list.facilityInfo.state}} {{list.facilityInfo.zip}}</li>
    <li>Description: {{list.facilityInfo.description}}</li>
    <li ng-if="list.facilityInfo.handicap_accessibility == 'true'">This facility is ADA (American Disabilites Act) Compliant</li>
    <li>Level: {{list.facilityInfo.level}}</li>
    <li ng-if="list.facilityInfo.cost == true">This facility charges a fee for access.</li>
    <li> <img ng-src="{{list.facilityInfo.image_url}}" class="facilityImg" alt=""/></li>
  </ul>
    </section>
  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="list.ok()">OK</button>
    <button class="btn btn-primary" type="button" ng-click="list.cancel()">Cancel</button>
  </div>
</section>
