<!-- modal that shows up on user home page.
grab all data on facilities from database
user clicks on link of facility name followed by city
on click on link, modal pops up with
facility name, street address, city, zipcode, description, level, cost, image  -->
<section>
  <div class="modal-header">
    <h2>{{facility name}}</h2>
  </div>

  <div class="modal-body">

  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" type="button">OK</button>
    <button class="btn btn-primary" type="button"></button>
  </div>
</section>


<!-- <div class="modal-header">
<h3 class="modal-title" id="modal-title">User Profile</h3>
</div>
<div class="modal-body" id="modal-body">
<ul>
  <li >  {{ $ctrl.userDetails.first_name }} </li>
  <li >  {{ $ctrl.userDetails.street_address }} </li>
  <li >  {{ $ctrl.userDetails.city }} </li>
  <li >  {{ $ctrl.userDetails.phone_number}} </li>
</ul>
</div>
<div class="modal-footer">
<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Close</button>
</div> -->
