<!-- modal that shows up on user home page.
+grab all data on facilities from database
+user clicks on link of facility name followed by city
+on click on link, modal pops up with
facility name, street address, city, zipcode, description, level, cost, image  -->
<section>
  <div class="modal-header">
    <h2>{{list.facilityInfo.name}} - {{list.facilityInfo.city}}</h2>
  </div>

  <div class="modal-body">
  <ul>
    <li>Location: {{list.facilityInfo.street_address}} {{list.facilityInfo.city}}, {{list.facilityInfo.state}} {{list.facilityInfo.zip}}</li>
    <li>Description: {{list.facilityInfo.description}}</li>
    <li>Accessibility: {{list.facilityInfo.handicap_accessibility}}</li>
    <li>Level: {{list.facilityInfo.level}}</li>
    <li>Cost: {{list.facilityInfo.cost}}</li>
    <li>Status: {{list.facilityInfo.approved}}</li>
    <li>Accessibility Id: {{list.facilityInfo.accessibility_id}}</li>
    <li> <img ng-src="{{list.facilityInfo.image_url}}" alt=""/></li>
  </ul>
  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="list.ok()">OK</button>
    <button class="btn btn-primary" type="button" ng-click="list.cancel()">Cancel</button>
  </div>
</section>


<!-- !Information to put in modal! -->
<!--
city
cost
description
image_url
level
name
state
street_address
zip
-->
