$font-stack: 'Slabo', 'Catamaran', 'sans-serif';
$catalina-blue: #0E2682;
$white: #FFFFFF;
$gray: #4D4D4D;

body {
  font-family: $font-stack;
  background-color: #04B4ED;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),url("/images/water-background-005.jpg");


}

h2{
  text-align: center;
}

.navContainer {
  ul {
    color: $white;
  }
}

.search {
  width: 300px;
  height: 200px;
  padding: 40px 40px 40px 40px;
  margin: 0 auto 0 auto;
  border: 1px solid #b3afa7;
  // border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
  padding: 30px;
  background: $white;

  h3 {
    // background: $gray;
    text-transform: uppercase;
    text-align: center;
    color: $catalina-blue;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
    font-weight: bold;
    // border-radius: 12px 12px 0 0;
  }
  .searchDiv {
    margin-left: 30px;
  }
  input[type=text] {
    // width: ;
    // height: ;
    border-radius: 25px;
    text-align: center;
  }
    button {
      text-align: center;
      // padding: 10px 20px 10px 25px;
      margin-left: 75px;
    }
}


.homeFacilitiesSection {
  width: 100%;
  height: 400px;
  margin: 0 auto 0 auto;
  padding: 40px 40px 40px 40px;
}

.submitZipButton {
  margin: 20px 20px 20px 20px;
}

.infoButton {
  margin: 20px 20px 20px 20px;
  float: right;
}

li{
  list-style: none;
  font-size: 18px;
}

ul{
  display: inline-block;
}

// images that users see in facilitieslist.modal.html
.facilityImg {
  width: 250px;
  height: 250px;
  border: none;
  overflow: hidden;
  }

// table with list of facilities on home page
.homeFacilitiesList {
  text-align: center;
  font-size: 25px;
  color: $catalina-blue;
}

// time slots for facility availability in facilitieslist.modal.html
#timeSlots {
  li {
    display: inline-block;
    padding-left: 5px;
  }

}

// profileviews styling
.userInfo {
    input {
    display: block;
    }
}

// .btn-info:active {
//   color: #272a30;
//   background-color: #f9f9f9;
//   border-color: #dbdbda;
// }

// facilitydetails styling
img {
  width: 450px;
  height: 300px;
}
