$font-stack: 'Catamaran', 'Slabo', 'sans-serif';
$catalina-blue: #0E2682;

body {
  font-family: $font-stack;
  // background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.9) 100%),url("")
}

.searchDiv {
  width: 300px;
  height: 200px;
  padding: 40px 40px 40px 40px;
  margin: 0 auto 0 auto;
}

.homeFacilitiesSection {
  width: 100%;
  height: 400px;
  margin: 0 auto 0 auto;
  padding: 40px 40px 40px 40px;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid #4e5055;
  text-align: center;
}

.submitZipButton {
  margin: 20px 20px 20px 20px;
}

.infoButton {
  margin: 20px 20px 20px 20px;
  float: right;
}

li{
  list-style: none;
  font-size: 20px;
}

ul{
  display: inline-block;
}

.btn-danger:hover{
  background-color: green;
  color: green;
  border-color: green;
}

.facilityImg {
  width: 250px;
  height: 250px;
  border: none;
}

nav {
  font-family: $font-stack;
  color: white;
}

// table with list of facilities on home page
.homeFacilitiesList {
  text-align: center;
  font-size: 16px;
}

.calendar {
  ul{
    display: inline-block;
  }
}
#timeSlots {
  display: inline-block;
}

// profileviews styling
.userInfo {
  p {
    display: inline-block;
    color: black;
    font-size: 14px;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
    width: 200px;
    height: 40px;
    text-align: center;
  }
}
