.loginInputs {
  width: 300px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    input {
      border-bottom: 2px solid #5a5b6c;
      display: inline-block;
      color: black;
      font-size: 14px;
      margin: 10px 20px 10px 20px;
      text-decoration: none;
      width: 200px;
      height: 40px;
      text-align: center;
    }
}
