input[type=text], input[type=password], input[type=tel], input[type=email], select {
  border-bottom: 2px solid #303030;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 14px;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
  width: 200px;
  height: 40px;
  text-align: center;
}

.userForms, .facilityForms {
  margin: 0 auto 0 auto;

}

// input[type=radio]:checked~.check {
//   border: 5px solid #0DFF92;
// }
//
// input[type=radio]:checked~.check::before {
//   background: #0DFF92;
// }
//
// input[type=radio]:checked~ label {
//   color: #0DFF92;
// }

.chooseUserReg {
  padding: 0px 100px 0px 100px;
  border: 2px solid;
}
