.userForms {
  margin: 0 auto 0 auto;
    input {
      border-bottom: 2px solid #44C4D2;
      display: inline-block;
      cursor: pointer;
      color: black;
      font-size: 14px;
      margin: 10px 20px 10px 20px;
      text-decoration: none;
      width: 200px;
      height: 40px;
      text-align: center;
    }
}

.facilityForms {

}

input[type=radio]:checked~.check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked~.check::before {
  background: #0DFF92;
}

input[type=radio]:checked~ label {
  color: #0DFF92;
}

.chooseUserReg {
  padding: 0px 100px 0px 100px;
  border: 2px solid;
}
